{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>

<p>If you are a new user, go to the 
    <button type="button" id="registerRedirect">register</button> page.
</p>

<form method="POST" action="/login">
    <div>
        <input type="text" id="username" name="username" placeholder="Username" required><br>
        <input type="password" id="password" name="password" placeholder="Password" required><br>
        <button type="submit" id="submitUsername">Submit</button><br>
    </div>
</form>
{% endblock %}