{% extends "layout.html" %}

{% block title %}To-Do List{% endblock %}

{% block content %}

<div class="ToDo-wrapper"><h1>To-Do List</h1></div>

<!-- <p id="date"></p> -->
<div class="checkbox-wrapper">
    <div id="checkboxContainer" class="checkbox-box">
        <div class="input-wrapper">
            <input type="text" id="todo" maxlength=100 placeholder="Enter a task">
            <button type="button" id="submitBtn" class='submitBtn' name="newTodo">+</button>
        </div>
        <ul id="todo-list"></ul>
    </div>
</div>
{% endblock %}
